<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-g">
    <title>Authorize Application</title>
    </head>
<body>
    <div class="consent-container">
        <h1>Authorize <strong class="client-name"><%= client.name %></strong></h1>
        <p>
            <strong class="client-name"><%= client.name %></strong> would like to access your profile information.
        </p>
        <form action="/oauth/consent" method="POST">
             <div class="actions">
                <button type="submit" name="action" value="deny" class="deny">Deny</button>
                <button type="submit" name="action" value="allow" class="allow">Allow</button>
            </div>
        </form>
    </div>
</body>
</html>